# OS
.DS_Store
Thumbs.db

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Environments
.env
.venv/
venv/
env/
.python-version

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
notebooks/**/__pycache__/
notebooks/catboost_info/

# Streamlit
.streamlit/
.streamlit_cache/
.cache/

# Tools caches
.mypy_cache/
.pytest_cache/
coverage/

# Logs
logs/
*.log

# Editors/IDE
.vscode/
.idea/
